#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.main-heading {
  display: flex;
  gap: 2rem;
}

.main-heading h1 {
  margin: 0;
  align-items: center;
}

footer {
  font-size: small;
  color: slategray;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Mobile styles */
@media (max-width: 768px) {
  #app {
    padding: 1rem;
  }

  .container {
    padding: 0;
  }

  .main-heading {
    gap: 1rem;
  }

  .main-heading img {
    width: 80px;
  }

  .main-heading h1 {
    font-size: 2.1rem;
  }

  .main-heading div {
    display: flex;
    align-items: center;
  }
}
